{php $child = get_maincat($catid, 16);}
  {loop $child $i $c}
  {if $i < 5}
<li class="item {if $i==1}evenitem{elseif $i==3}evenitem{elseif $i==5}evenitem{/if}">
                <h3 class="itemHead"> <s></s><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{$c[catname]}</a></h3>
    {if $c[child]}
    {php $sub = get_maincat($c[catid], 16, 1);}
         <p class="itemCol itemColfirst"> 
    {loop $sub $j $s}{if $j < 4}
  <a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a>{/if}{/loop}
    {/if}
    </p>
    </li>
  {/if}
  {/loop}
