{template 'header-mini'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}help.css"/>
<script type="text/javascript" src="{DT_SKIN}js/jquery.js"></script>
<script type="text/javascript" src="{DT_SKIN}js/help.js"></script>
 <div id="destoon_space" style="display:none;"></div>
<!-- header -->
<div class="header-wrap">
  <div class="header">
    <div class="top">
      <div class="logo-help fl"> <a href="{DT_PATH}" class="fl" target="_blank" title="{$DT[sitename]}"> <img src="{DT_SKIN}image/logo.gif" height="68" width="200" alt="{$DT[sitename]}"> </a> </div>
      <h1 class="title-help fl"><a href="{$MOD[linkurl]}">{$MOD[name]}</a></h1>
      <div class="h-nav">
        <ul>
          <li class="nav-itm"><a class="current" href="{$MOD[linkurl]}" target="_blank">首页</a></li>
          <li class="nav-itm"><a href="{DT_PATH}about/contact.html" rel="nofollow" target="_blank">联系客服</a></li>
          <li class="nav-itm"><a href="{$EXT[guestbook_url]}" rel="nofollow" target="_blank">留言反馈</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- banner -->