<!--&lt;!&ndash;dtmuban.com版权 S&ndash;&gt;-->
<!--<style>-->
<!--.lxgf{margin: auto;display: block;bottom: 0;text-align: center; height: 30px;width: 100%;position: fixed;z-index: 999;background-color: #000;}-->
<!--.botcontact  {-->
<!--color: #FFFFFF;-->
<!--text-align:center;-->
<!--font-family: "Microsoft Yahei";-->
<!--font-size: 16px;-->
<!--}-->
<!--.botcontact  a{-->
<!--color: #FFFFFF;-->
<!--text-align:center;-->
<!--font-family: "Microsoft Yahei";-->
<!--font-size: 16px;-->
<!--text-decoration:underline;-->
<!--}-->
<!--</style>-->
<!--<div class="lxgf">-->
<!--<table width="100%" height="30" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">-->
  <!--<tbody><tr>-->
    <!--<td width="42%"><div align="center"><span class="botcontact">本站为 <a href="http://www.dtmuban.com" target="_blank">DT模板网(www.dtmuban.com)</a>出品-编号为：ST03蓝色Destoon7.0模板演示站。模板不带演示站数据、购买请联系我公司唯一销售人员 <span class="contactlink"> <a href="//wpa.qq.com/msgrd?v=3&amp;uin=290948585&amp;site=网站客服&amp;menu=yes" target="_blank">QQ:290948585(小黑)</a></span></span></div></td>-->
    <!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--&lt;!&ndash;版权提示 S&ndash;&gt;-->