<!doctype html>
<html>
<head>
  <meta charset="{DT_CHARSET}"/>
  <title>{$header_title}</title>
  <meta name="referrer" content="never">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {if $head_keywords}
  <meta name="keywords" content="{$head_keywords}"/>
  {/if}
  {if $head_description}
  <meta name="description" content="{$head_description}"/>
  {/if}
  {if $head_mobile}
  <meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
  {/if}

  <link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
  <link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
  {if $head_canonical}

  <link rel="canonical" href="{$head_canonical}"/>
  {/if}

  {if $EXT[archiver_enable]}

  <link rel="archives" title="{$DT[sitename]}" href="{$EXT[archiver_url]}"/>
  {/if}
  <link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
  <link rel="stylesheet" type="text/css" href="{DT_SKIN}style2.css"/>
  {if $moduleid>1}
  <link rel="stylesheet" type="text/css" href="{DT_SKIN}{$module}.css"/>
  {/if}
  {if $CSS}
  {loop $CSS $css}
  <link rel="stylesheet" type="text/css" href="{DT_SKIN}{$css}.css"/>
  {/loop}
  {/if}
  <!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" href="{DT_SKIN}ie6.css"/>
  <![endif]-->
  {if !DT_DEBUG}<script type="text/javascript">window.onerror=function(){return true;}</script>{/if}
  <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
  <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
  <!--[if lte IE 9]><!-->
  <script type="text/javascript" src="{DT_STATIC}file/script/jquery-1.5.2.min.js"></script>
  <!--<![endif]-->
  <!--[if (gte IE 10)|!(IE)]><!-->
  <script type="text/javascript" src="{DT_STATIC}file/script/jquery-2.1.1.min.js"></script>
  <!--<![endif]-->
  <script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
  <script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
  <script type="text/javascript" src="{DT_SKIN}js/jquery.superslide.2.1.1.js"></script>
  {if $lazy}<script type="text/javascript" src="{DT_STATIC}file/script/jquery.lazyload.js"></script>{/if}
  {if $JS}
  {loop $JS $js}
  <script type="text/javascript" src="{DT_STATIC}file/script/{$js}.js"></script>
  {/loop}
  {/if}
  {php $searchid = ($moduleid > 3 && $MODULE[$moduleid]['ismenu'] && !$MODULE[$moduleid]['islink']) ? $moduleid : 5;}
  <script type="text/javascript">
    {if $head_mobile && $EXT[mobile_goto]}
    GoMobile('{$head_mobile}');
    {/if}
      var searchid = {$searchid};
      {if $itemid && $DT[anticopy]}
      document.oncontextmenu=function(e){return false;};
      document.onselectstart=function(e){return false;};
      {/if}
        window.onerror=function(){return true;}
  </script>
  <!--[以上为系统关键代码，除非您明确其含义，否则请勿修改或删除，否则会导致系统错误]-->
  <!--[模板中所有带id的元素，请勿修改或删除，否则会导致部分JS代码无法运行]-->
  <!--[以上类似的注释，在编译模板时，系统会自动移除，不会显示在实际的页面中]-->
</head>
<body>
{if !$DT[close_topgg]}{if $moduleid==1}{template 'mini-gonggao'}{/if}<!--公告-->{/if}
{template 'top-mini'}
{template 'top-so'}
<div class="navbg">
  <!--<div class="logotab">-->
  <!--<div class="wrapper">-->
  <!--&lt;!&ndash;logo&ndash;&gt;-->
  <!--<div class="logo"><h1><a href="{$MODULE[1][linkurl]}" alt="{$DT[sitename]}"><img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.png{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.png{/if}" alt="{$DT[sitename]}"/></a></h1></div>-->
  <!--&lt;!&ndash;teng&ndash;&gt;-->

  <!--<div id="destoon_space" style="display:none;"></div>-->
  <!--{if $head_mobile}<div id="destoon_qrcode" style="display:none;"></div>{/if}-->
  <!--{php $searchids = array(5,6,4,21);}-->
  <!--{if !in_array($searchid, $searchids)}-->
  <!--{php $searchids[] = $searchid;}-->
  <!--{/if}-->
  <!--<script type="text/javascript">var searchid = {$searchid};</script>-->
  <!--<div class="searchtab" style="margin-left: 54px;">-->
  <!--<script type="text/javascript">var searchid = 5;</script>-->
  <!--<form id="destoon_search" action="{$MODULE[$searchid][linkurl]}search.php" onsubmit="return Dsearch(1);">-->
  <!--<input type="hidden" name="moduleid" value="{$searchid}" id="destoon_moduleid"/>-->
  <!--<input type="hidden" name="spread" value="0" id="destoon_spread"/>-->
  <!--<div class="stit">-->
  <!--<ul id="search_module">-->
  <!--{loop $searchids $s}-->
  <!--{if isset($MODULE[$s])}-->
  <!--<li{if $searchid == $s} class="orange"{/if} onclick="dtmubanModule({$s}, this);">{$MODULE[$s][name]}<span class="ml5">|</span></li>-->
  <!--{/if}-->
  <!--{/loop}-->
  <!--</ul>-->
  <!--</div>-->
  <!--<div class="searstyle">-->
  <!--<span class="searmiddle"><input name="kw" id="destoon_kw" type="text" class="input" value="请输入关键词" onfocus="if(this.value=='请输入关键词') this.value='';" onkeyup="STip(this.value);" autocomplete="off" x-webkit-speech speech/></span>-->
  <!--<span class="searright"><input type="submit" value="搜&nbsp;索" class="search_s f16 white"/></span>-->
  <!--</div>-->
  <!--</form>-->
  <!--<ul class="sfont gray">-->
  <!--热搜词： &lt;!&ndash;{tag("moduleid=$searchid&table=keyword&condition=moduleid=$searchid and status=3&pagesize=6&order=total_search desc&template=list-search_kw")}&ndash;&gt;-->
  <!--</ul>-->
  <!--<div id="search_tips" style="display:none;"></div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</div>-->

  <div class="logoandimgout" style="height:107px">
    <div class="logoandimgdiv" style="width: 1294px;">
      <div class="logo"><a href="http://www.dm67.com/"><a href="{$MODULE[1][linkurl]}" alt="{$DT[sitename]}"><img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.png{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.png{/if}" alt="{$DT[sitename]}"/></a></div>


      <div class="cityname"></div>
      <div class="top_search">

        <div id="q-input">

          <input class="span6 search-query" id="input_keywords" name="input_keywords" maxlength="40">
          <input class="btn" type="button" onclick="gosearch();" value="搜索">
          <script>
            function gosearch() {
              return;
              var t = $('#input_keywords').val();
              if (t == "") {
                alert("请输入关键字");
                return;
              }

              if (t.length < 2) {
                alert("请输入最少2个关键字");
                return;
              }
              fafasearch(t);
            }
          </script>




        </div>

      </div>
      <div class="postout">
        <div class="post"><a href="http://bozhou.dm67.com/user/post_article.html" target="_blank" class="post_button" style="color:white">免费发布信息</a></div>
        <div class="delete">
          <a href="http://bozhou.dm67.com/user/article_list.html" target="_blank" class="delete_button">修改/删除信息</a>
        </div>
      </div>
    </div>
  </div>

  <!--SEARCH !!-->
  <div class="bar">
    <div class="barin">
      <div class="barin_l">

          <span class="bar_hover"><a href="http://bozhou.dm67.com/">首页</a></span>
          {php $arr = array_slice($MODULE,0,5)}

          {loop $arr $m}{if $m[ismenu]}
          <span {if $m[moduleid]==$moduleid}class="active"{/if} style="width:131px;text-align: center"  class="bar_link"><a href="{$m[linkurl]}"{if $m[isblank]} target="_blank"{/if}>{$m[name]}</a>
					</span>
          {/if}{/loop}


      </div>
    </div>
  </div>

</div>
<div class="clear"> </div>





