<!--<div class="Top_float clearfix" id="J_Search" style="position: fixed;">-->
            <!--&lt;!&ndash;搜索漂浮&ndash;&gt;-->
            <!--<div class="screen-hd" style="display: none;">-->
                <!--<div class="screen-hd-wrap">-->
                    <!--<div class="s-logo">-->
                        <!--<a href="{DT_PATH}" target="_self" title="{$DT[sitename]}">-->
                            <!--<img src="{DT_SKIN}image/s_logo.jpg" width="185" height="40"></a>-->
                    <!--</div>-->
                    <!--<div class="searchcont">-->
                        <!--<div class="search">-->
    <!--<form action="{$MODULE[$searchid][linkurl]}search.php">-->
    <!--<input name="kw" type="text" class="txt" value="{$kw}" placeholder="请输入搜索产品信息的关键字!" x-webkit-speech speech/> -->
    <!--<input type="submit" value="网一下" class="btn"/>-->
  <!---->
                              <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="T-publish">-->
                        <!--<a href="{$MODULE[2][linkurl]}{$DT[file_login]}" rel="nofollow" target="_blank">免费发布优质产品信息</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;搜索漂浮结束&ndash;&gt;-->
        <!--</div>-->