<div class="bodytop">
    <div class="bodytop1" style="width:1295px">
        <div class="bodytop_l">
            免费发布信息网站平台_免费发布广告信息网站-DM67信息网-【按 <font color="#ff6600">Ctrl+D</font> 收藏本站】
        </div>
        <div class="bodytop_r">
            欢迎您，<span id="userloginmod"><a href="http://www.dm67.com/b2b/user/register/index.html" rel="nofollow">注册</a>&nbsp;|&nbsp;<a href="http://www.dm67.com/b2b/user/login/index.html" rel="nofollow">登录</a></span>&nbsp;|&nbsp;
        </div>
    </div>
</div>