{template 'header'} 
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="wrapper">
      <div class="mt0">
    <div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
  <div class="wrapper mt0"> 
    <!--大左边-->
   <div class="summary clear"> 
      <!--左图-->
   <div class="item-info">
          <div class="left">
            <div class="gallery">
            <div id="mid_pos"></div>
                <div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();" onclick="PAlbum(Dd('mid_pic'));"> <img src="{$albums[0]}" width="300" height="290" id="mid_pic" onerror="this.src='{DT_SKIN}image/nopic200.gif'"/><span id="zoomer"></span> </div>
              <ul class="clear">
                {loop $thumbs $k $v}
                <li class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"><img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"  onerror="this.src='{DT_SKIN}image/nopic60.gif'"/></li>
                {/loop}
                <li class="ab_im" onclick="PAlbum(Dd('mid_pic'));"><img src="{DT_SKIN}image/zoom.png" width="60" height="60"/></li>
              </ul>
            </div>      
          </div>
            <!--右文字-->
          <div class="right">
            <div class="wrap">
              <div class="title-new">
                <h3 id="title">{$title}</h3>
            <div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
                <p>{$introduce}</p>
              </div>
              <ul class="promo-meta clear">
                <li> <span>产品单价:</span> <strong class="promo-price"> <em class="rmb">{$DT[money_sign]}</em> {if $price>0}<em class="rmb-num">{$price}</em>{$DT[money_unit]}/{$unit}{else}面议{/if}</em> </strong> </li>
                <li><span>品牌:</span><p>{$brand}</p></li>
                <li><span>产地:</span><p>{area_pos($areaid, ' ')}</p></li>
                <li><span>产品类别:</span>{cat_name($catid)}</li>
                <li><span>有效期:</span><p>长期有效 </p></li>
                <li><span>发布时间:</span><p>{$editdate}</p></li>
                <li class="counter">
                  {if $MOD[hits]}<div class="browse-counter clear"> <a href="javascript:;"> <b>{$hits}</b><span>访问人数</span> </a> </div>{/if}
                  <div class="sell-counter clear"> <a href="#detail-tag04"> <b id="comment_count">0</b><span>累计评论</span> </a> </div>
                  <div class="rate-counter clear" onmouseout="document.getElementById('qrcode_con').style.display='none'" onmouseover="document.getElementById('qrcode_con').style.display='block'"> 
                  <img src="{DT_SKIN}image/sell/sell-ewm.jpg" width="94" height="48" data-bd-imgshare-binded="1"></div>
                  <div class="qrcode_con" id="qrcode_con" style="display: none;"><img src="{DT_PATH}api/qrcode.png.php?auth={$head_mobile}" width="130" height="130" data-bd-imgshare-binded="1">
<p>手机扫码，简单快捷</p>
</div>
                  {if $groupid > 6}<span class="vip_pic1"></span>{else}<span class="vip_pic0"></span>{/if}
                </li>
              </ul>
              
              <div class="roduct-button">
              {if SELL_ORDER && $price>0 && $minamount>0 && $amount>0 && $unit}
              <a class="button-gou" onclick="Go('{$MODULE[2][linkurl]}cart.php?action=add&mid={$moduleid}&itemid={$itemid}');" href="javascript:void(0);"><i></i>加入购物车</a>
              <a class="button-buy" onclick="Go('{$MODULE[2][linkurl]}buy.php?mid={$moduleid}&itemid={$itemid}');" href="javascript:void(0);">购买</a>
              {else}
              <a class="button-red" onclick="Go('{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$itemid)}');" href="javascript:void(0);"><i></i>留言询价</a>
              {/if}
              <a class="button-cart button-cart-add" href="javascript:SendFav();"><i></i><span>加入收藏</span></a>
                <ul class="collect-share">
                <li class="shares"><a href="javascript:void(0);"onclick="Dshare({$moduleid}, {$itemid});"><img src="{DT_SKIN}image/ico-share.png" class="share" title="分享好友"/>分享</a></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
          </div>
      </div>
      </div>
	  <!--大右边资料-->   
      <div class="sidebar clear">
        <div class="shop-infotop">
        <div class="companytitle"><dl><dd>诚信商家资料</dd></dl></div>
        <div id="contact">{template 'contact', 'chip'}</div>
	   {if !$username}
			<br/>
			&nbsp;<strong class="f_red">注意</strong>:发布人未在本站注册，建议优先选择<a href="{$MODULE[2][linkurl]}grade.php"><strong>{VIP}会员</strong></a>
			{/if}
	        </div>
      </div>
	  </div>
<div class="clear"></div>	  
<!--内容开始-->
    <div class="detail-content clear">
      <div class="detail-left">
      {if $username}
      <div class="list-sidebarcenshow nomb"><div class="uselltit"><span>该企业其他产品</span><b class="f_r"><a href="{userurl($username, 'file=sell')}">更多&raquo;</a></b></div></div>
      <div class="detail-sidebar">
		  <!--{tag("moduleid=$moduleid&length=28&condition=status=3 and thumb<>'' and username='$username'&pagesize=5&order=edittime desc&width=220&height=220&template=xiaohei-show_tj")}--> 
		 </div>
     {else}
     <div class="list-sidebarcenshow nomb"><div class="uselltit"><span>同类{$MOD[name]}</span><b class="f_r"><a href="{$MOD[linkurl]}{$CAT[linkurl]}">更多&raquo;</a></b></div></div>
      <div class="detail-sidebar">
      <!--{tag("moduleid=$moduleid&length=28&condition=status=3 and thumb<>''&catid=$catid&pagesize=5&order=edittime desc&width=220&height=220&template=xiaohei-show_tj")}--> 
     </div>
     {/if}
      </div>
      <div class="detail-right">
        <div class="detail-info">
          <div class="detail-navwarp"><div class="detail-nav detail-navfloat"><ul><li name="detail-tag01" class="lishow current"><span><i>产品详情</i></span></li></ul></div></div>
          <div class="detail-con">
            <h3 class="detail-contit"><span>产品参数</span></h3>
            <div class="prodetail" id="content">
			   <table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#e5e5e5" class="ke-zeroborder">
          <tbody>
            <tr height="36" bgcolor="#ffffff">
              <td class="pt-name"><h4>品牌：</h4></td>
              <td class="pt-cent">{if $brand}{$brand}{else}未填{/if}</td>
            </tr>
            <tr height="36" bgcolor="#ffffff">
              <td class="pt-name"><h4>所在地：</h4></td>
              <td class="pt-cent">{area_pos($areaid, ' ')}</td>
            </tr>
            <tr height="36" bgcolor="#ffffff">
              <td class="pt-name"><h4>起订：</h4></td>
              <td class="pt-cent">{if $minamount}≥{$minamount} {$unit}{else}未填{/if}</td>
            </tr>
            <tr height="36" bgcolor="#ffffff">
              <td class="pt-name"><h4>供货总量：</h4></td>
              <td class="pt-cent">{if $amount}{$amount} {$unit}{else}未填{/if}</td>
            </tr>
            <tr height="36" bgcolor="#ffffff">
              <td class="pt-name"><h4>有效期至：</h4></td>
              <td class="pt-cent">{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</td>
            </tr>
          {if $n3 && $v3}
          <tr height="36" bgcolor="#ffffff">
            <td class="pt-name"><h4>{$n1}：</h4></td>
            <td class="pt-cent">{$v1}</td>
          </tr>
          {/if}
          {if $n2 && $v2}
          <tr height="36" bgcolor="#ffffff">
            <td class="pt-name"><h4>{$n2}：</h4></td>
            <td class="pt-cent">{$v2}</td>
          </tr>
          {/if}
          {if $n3 && $v3}
          <tr height="36" bgcolor="#ffffff">
            <td class="pt-name"><h4>{$n3}：</h4></td>
            <td class="pt-cent">{$v3}</td>
          </tr>
          {/if}
            </tbody>
        </table>
		<h3 class="detail-contit" id="detail-tag01"><span>详情介绍</span></h3>
     {if $CP}{template 'property_show', 'chip'}{/if}
    <div id="content">{$content}</div>
    {if $MOD[fee_award]}
  <div class="award"><div onclick="Go('{$MODULE[2][linkurl]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏</div></div>
  {/if}
            </div>
     </div>
  <div class="detail-comment">
  {template 'comment-sell', 'chip'}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main end --> 
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script> 
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if} 
<!-- footer --> 
{template 'footer'}