{template 'header'}
<div class="selectdiv">

	<div class="select">

		<div class="sort2">
			新闻资讯
		</div>

		<div style="clear:both;"></div>
	</div>
</div>

<div class="listcenter">
	<div class="list_left">


		<div class="titlehead" style="background:#0e69c5">
			<div class="titleheadin">
				您的位置：<a href="{$MODULE[1][linkurl]}" target="_self">首页</a> » <a href="{$MOD[linkurl]}">{$MOD[name]}</a>

			</div>
		</div>
		<!--{php $tags = tag("moduleid=21&template=null")}-->

		<div style="min-height:500px;background:#fff;border-radius:5px;">
			{loop $news $m}
			<div class="title_c">

				<div class="title_in">
					<a href="{$m['linkurl']}" class="f14 fbluef" target="_blank">{$m['title']}</a>
					<br>
					<span class="content">{$m['introduce']}</span>
				</div>
				<div class="time_c">{php echo date("Y-m-d h:i:sa",$m['addtime'])}</div>
			</div>
			{/loop}
		</div>


		<div id="_fedcc87c7219d4d0_fengyen" class="pagelistblue" style="margin-top: 20px;">
			<a href="index.php?page=2">首页</a>
			{if $page <= 1}
				<a href="index.php?page={php echo 1}"> < </a>
			{/if}
			{if $page > 1}
			<a href="index.php?page={php echo $page - 1}"> < </a>
			{/if}
			{loop $arrs $key $p}
			<a {if $p == '....'} href=""{else}href="index.php?page={$p}"{/if} class="" {if $page == $p}style="color:#0e69c5"{/if}> {$p} </a>
			{/loop}

			{if $page >= $num}
			<a href="index.php?page={php echo $num}"> > </a>
			{/if}
			{if $page < $num}
			<a href="index.php?page={php echo $page + 1}"> > </a>
			{/if}
			<a href="index.php?page={$num}">尾页</a></div>
		<div style="clear:both;"></div>
		<div class="tishi_b">
			对找到的信息不满意？赶快<a href="http://bozhou.dm67.com/user/post_article.html">免费发布一条</a>吧！
		</div>
		<div style="clear:both;"></div>




	</div>
	<div class="list_right">
		<!--------------------------------------------------广告开始-------------------------------------------------->
		<div class="googlead">
			<div style="line-height:50px;">
				<span>新闻资讯分类</span> <br><a href="http://bozhou.dm67.com/newlist/554_"></a>
			</div>

		</div>

		<div class="googlead" id="xuanfu" style="position: static;">
			<div id="_0p2bhzp1aqc">
				<p>全部分类</p>
				<ul>
					{loop $maincat $k $v}
					<li class="{if $v[catid]==$catid}side_on{else}side_li{/if}"><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}{if !$cityid} <em>({$v[item]})</em>{/if}</a></li>
					{/loop}
				</ul>
				<div style="clear:both;"></div>
			</div>
		</div>
		<!--------------------------------------------------广告结束----------------------------------------------->

	</div>
	<div style="clear:both;"></div>
</div>




{template 'footer'}