{template 'header'}
<div class="selectdiv">

	<div class="select">

		<div class="sort2">
			新闻资讯
		</div>

		<div style="clear:both;"></div>
	</div>
</div>
<div class="listcenter">
	<div class="list_left">
		<div class="titlehead" style="background:#0e69c5">
			<div class="titleheadin">
				<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>

			</div>
		</div>


<div class="m m1">
	<div class="m1l nobg bxh">
		{if $CP}{template 'property_listto', 'chip'}{/if}
		<div class="catlist">
		{php $cols = 5;}
		{if $tags}{template 'list-cat', 'tag'}{/if}
		</div>
	</div>

</div>
	</div>
	<div class="list_right">
		<!--------------------------------------------------广告开始-------------------------------------------------->
		<div class="googlead">
			<div style="line-height:50px;">
				<span>新闻资讯分类</span> <br><a href="http://bozhou.dm67.com/newlist/554_"></a>
			</div>

		</div>

		<div class="googlead" id="xuanfu" style="position: static;">
			<div id="_0p2bhzp1aqc">
				<p>全部分类</p>
				<ul>
					{loop $maincat $k $v}
					<li class="{if $v[catid]==$catid}side_on{else}side_li{/if}" ><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}{if !$cityid} <em>({$v[item]})</em>{/if}</a></li>
					{/loop}
				</ul>
				<div style="clear:both;"></div>
			</div>
		</div>
		<!--------------------------------------------------广告结束----------------------------------------------->

	</div>
	<div class="c_b"></div>
</div>
</div>
<style>
	.footer{
		clear:both;
	}
</style>
{template 'footer'}