@charset "utf-8";
/*
ST03-CSS-xiaohei-qq:290948585-dtmuban.com-20180414 v7
*/
.iuser {border-bottom:#E8E8E8 2px solid;}
.iuser ul {border-right:#E8E8E8 1px solid;margin-top:12px;}
.iuser li {padding:8px 0 8px 20px;}
.iuser_avatar {padding:10px 0 20px 10px;}
.iuser_money {padding:10px 0 0 20px;}
.my_money {font-size:16px;font-weight:bold;color:#FF6600;}
.my_money span {font-size:14px;}
.icount {border-left:#E8E8E8 1px solid;border-bottom:#E8E8E8 1px solid;}
.icount td{border-right:#E8E8E8 1px solid;padding:15px 20px 15px 20px;text-align:center;cursor:pointer;}
.icount div{font-size:14px;padding:0 0 20px 0;}
.icount img{margin-bottom:10px;}
.ihead {border-bottom:#E8E8E8 1px solid;height:30px;line-height:30px;padding:0 10px 0 10px;margin:10px 0 0 0;}
.ihead strong {font-size:14px;}
.ibody {background:#FFFFFF;}
.inote {padding:5px;}
.inote textarea {border:#9CB8CC 1px dotted;padding:3px;width:99%;height:60px;word-break:break-all;color:#444444;}
.isys {padding:5px 5px 5px 10px;}
.isys li {height:26px;line-height:26px;overflow:hidden;padding:0 5px 0 15px;background:url('message_sys.gif') no-repeat 0 5px;}

.wrap-content {padding: 0px 0 0 0px;}
.wrap-content .content {width: 630px;}
.content .wrap-account-list {position: relative;border-bottom: 1px solid #dedede;}
.wrap-account-list .spread-tip {position: absolute;right: 0;bottom: -1px;height: 38px;width: 38px;cursor: pointer;border: 1px solid #dedede;}
.wrap-account-list .spread-tip .triangle-tip {position: absolute;top: 16px;left: 12px;}
.spread-tip .triangle-tip span{display: block;}
.spread .triangle-tip span {border-width: 6px 6px 0 6px;border-color: #666 transparent transparent transparent;}
.packup .triangle-tip span {border-width: 0 6px 6px 6px;border-color: transparent transparent #666 transparent;}
.account-list .account-line {height: 18px;line-height: 18px;margin-bottom: 20px;overflow: hidden;zoom: 1;}
.account-list .list-tip {float: left;display: inline;width: 20px;height: 16px;background: url('big-tip.png') no-repeat;}
.account-list .tip1 {background-position: -140px -280px;}
.account-list .tip2 {background-position: -160px -280px;}
.account-list .tip3 {background-position: -180px -280px;}
.account-list .tip4 {background-position: -200px -280px;}
.account-list .tip5 {background-position: -220px -280px;}
.account-list .list-line {float: left;display: inline;color: #4e4e4e;margin-left: 10px;}
.account-list .list-line a {color: #4e4e4e;}
.account-list .list-line a:hover {color: #3094ed;}
.list-line .list-name {float: left;display: inline;}
.list-line .approve-list li {float: left;display: inline;margin-left: 10px;}
.list-line .approve-list li em {position: relative;float: left;display: inline;height: 16px;width: 20px;margin: 0 6px 0 0;background: url(big-tip.png) no-repeat;}
.list-line .approve-list li.email-auth em {background-position: -160px -280px;}
.list-line .approve-list li.mobile-auth em {background-position: -240px -280px;}
.list-line .approve-list li.bank-auth em {background-position: -260px -280px;}
.list-line .approve-list li.name-auth em {background-position: -280px -280px;}
.list-line .approve-list li.company-auth em {background-position: -300px -280px;}
.list-line .approve-list li em i {position: absolute;top: -999em;}
.list-line .approve-list li.approved em i {top: 0;right: -6px;display: block;height: 13px;width: 13px;background: url(big-tip.png) -60px -280px no-repeat;}
.account-list .list-line p {float: left;display: inline;}
.list-line .account-number b {color: #ff6600;font-weight: normal;margin-right: 3px;}
.list-line .account-number a,.list-line .account-number span {margin-left: 5px;}
.list-line .account-operate {margin-left: 20px;}
.list-line .account-operate a {margin: 0 8px;}

/*常见应用*/
.wrap-common-list {margin-top: 30px;}
.content .common-apply {overflow: hidden;zoom: 1;}
.common-apply .common-apply-zt {float:left;width: 134px;text-align:center;padding-bottom: 10px;}
.common-apply .common-apply-title {width: 62px;height: 118px;border: 1px solid #dedede;background: #f7f7f7;}
.common-apply .common-apply-title ul {padding: 20px 0 0 24px;}
.common-apply .common-apply-title li {color: #b1b1b1;font-size: 17px;font-weight: bold;height: 20px;line-height: 20px;}
.common-apply-list .apply-tip {float: left;display: inline;width: 140px;height: 118px;border: 1px solid #dedede;border-left: none;background: #fcfcfc;}
.common-apply-list .apply-tip:hover {background: #fff;}
.common-apply-list .apply-tip em {display: block;height: 70px;width: 70px;margin: 12px auto 0 auto;background: url(big-tip.png) no-repeat;}
.common-apply-list .apply-tip1 em {background-position: 0 -120px;}
.common-apply-list .apply-tip2 em {background-position: -70px -120px;}
.common-apply-list .apply-tip3 em {background-position: -140px -121px;}
.common-apply-list .apply-tip4 em {background-position: -210px -120px;}
.common-apply-list .apply-tip5 em {background-position: 0 -190px;}
.common-apply-list .apply-tip6 em {background-position: -70px -190px;}
.common-apply-list .apply-tip7 em {background-position: -140px -190px;}
.common-apply-list .apply-tip8 em {background-position: -210px -190px;}


.common-apply-list .apply-tip1:hover em {background-position: 0 -438px;}
.common-apply-list .apply-tip2:hover em {background-position: -70px -439px;}
.common-apply-list .apply-tip3:hover em {background-position: -140px -439px;}
.common-apply-list .apply-tip4:hover em {background-position: -211px -437px;}
.common-apply-list .apply-tip5:hover em {background-position: 0 -508px;}
.common-apply-list .apply-tip6:hover em {background-position: -70px -508px;}
.common-apply-list .apply-tip7:hover em {background-position: -140px -508px;}
.common-apply-list .apply-tip8:hover em {background-position: -210px -508px;}


.common-apply-list .apply-tip span {display: block;color: #333;text-align: center;margin-top: 10px;}
.common-apply-list .apply-tip:hover span {color: #3094ed;}

/*供应求购列表*/
.wrap-trade {margin-top: 30px;}
.wrap-trade .trade-title {height: 40px;line-height: 40px;border: 1px solid #dedede;border-bottom: 1px solid #CFD0ED;}
.wrap-trade .trade-title h3 {font-size: 15px;font-weight: normal;padding-left: 16px;}
.wrap-trade .trade-title h3 a {color: #333;}
.trade-title .more-trade span{color: #999999;font-family: "微软雅黑 Regular","微软雅黑";font-size: 14px;font-style: normal;font-weight: 400;width: 40px;text-align: left;cursor: pointer;} 
.trade-title .more-trade a span{color: #3094ed;}
.trade-title .more-trade .trade-sx{width: 70px;}
.trade-title .more-trade .trade-btn {color: #fff;font-size: 13px;height: 40px;padding: 0 16px;background: #fda636;}
.trade-title .more-trade .trade-btn:hover {background: #fd9a00;}
.trade-title .more-trade .trade-link {position: relative;height: 39px;width: 39px;overflow: hidden;text-align: center;border-top: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;}
.trade-link .wrap-m {position: absolute;top: 0;left: 0;display: block;cursor: pointer;}
.trade-link:hover .wrap-m {top: -39px;}
.trade-title .more-trade a span .m-text{margin-right:10px}
.trade-link .wrap-m i {display: block;height: 39px;width: 39px;font-style: normal;}
.trade-link .wrap-m i.m-tip {color: #666;font-size: 30px;line-height: 39px;text-align: center;}
.trade-link .wrap-m i.m-text {color: #3094ed;width: 33px;padding: 2px 3px;line-height: 18px;height: 35px;font-weight: bold;text-align: center;}
.wrap-trade .trade-list {text-align:center;padding: 0 15px;border: 1px solid #dedede;border-top: none;}
.wrap-trade .trade-list #u179 ,.wrap-trade .trade-list #u161 {white-space: nowrap;width: 500px;color: #fda636;font-family: "微软雅黑 Regular","微软雅黑";font-size: 14px;font-style: normal;font-weight: 400;text-align: center;cursor:pointer;}
.bs_body {color: #333333;font-size: 13px;line-height: normal;text-align: center;}
#u180_state0_content {height: 1px;left: 0;position: absolute;top: 0;width: 1px;}
.bs_div {color: #333333;font-family: "Arial Normal","Arial";font-style: normal;font-weight: 400;line-height: normal;text-align: center;font-size: 13px;}
#u180 {left: 50%;margin-left: -230px;margin-top: -135px;position: fixed;top: 50%;z-index: 1002;visibility: visible;}
#u180_state0 {background-image: none;left: 0;position: relative;top: 0;}
#u181 {font-size: 14px;height: 270px;left: 0;position: absolute;top: 0;width: 460px;}
#u181_img {height: 270px;left: 0;position: absolute;top: 0;width: 460px;}
#u182 {left: 2px;position: absolute;top: 127px;visibility: hidden;width: 456px;word-wrap: break-word;}
#u183 {height: 100px;left: 51px;position: absolute;top: 60px;width: 360px;}
#u183_input {color: #000000;font-family: "微软雅黑 Regular","微软雅黑";font-size: 14px;font-style: normal;font-weight: 400;height: 100px;left: 0;position: absolute;text-align: left;text-decoration: none;top: 0;width: 360px;}
#u184 {color: #cccccc;font-family: "微软雅黑 Regular","微软雅黑";font-style: normal;font-weight: 400;height: 19px;left: 51px;position: absolute;top: 166px;width: 171px;}
#u184_img {height: 19px;left: 0;position: absolute;top: 0;width: 171px;}
#u185 {left: 0;position: absolute;top: 0;white-space: nowrap;width: 171px;}
#u186 {color: #ffffff;font-family: "微软雅黑 Regular","微软雅黑";font-style: normal;font-weight: 400;height: 30px;left: 51px;position: absolute;top: 200px;width: 80px;}
#u186_img {height: 30px;left: 0;position: absolute;top: 0;width: 80px;}
#u187 {left: 2px;position: absolute;top: 6px;width: 76px;word-wrap: break-word;}
#u188 {color: #ffffff;font-size: 14px;height: 30px;left: 0;position: absolute;top: 0;width: 460px;}
#u188_img {height: 30px;left: 0;position: absolute;top: 0;width: 460px;}
#u189 {left: 2px;position: absolute;top: 7px;width: 456px;word-wrap: break-word;}
#u190 {color: #ffffff;font-family: "微软雅黑 Regular","微软雅黑";font-style: normal;font-weight: 400;height: 30px;left: 431px;position: absolute;top: 0;width: 29px;}
#u190_img {height: 30px;left: 0;position: absolute;top: 0;width: 29px;}
#u191 {left: 2px;position: absolute;top: 6px;width: 25px;word-wrap: break-word;}
.bs_textarea {color: #000000;font-family: "Arial Normal","Arial";font-size: 13px;font-style: normal;font-weight: 400;line-height: normal;text-align: left;}
.bs_text {color: #333333;font-family: "Arial Normal","Arial";font-size: 13px;font-style: normal;font-weight: 400;line-height: normal;text-align: left;}

.wrap-trade .trade-list li {overflow: hidden;zoom: 1;color: #666;border-top: 1px dotted #dedede;padding: 16px 0 10px 0;}
.wrap-trade .trade-list li:first-child,.wrap-trade .trade-list li.first{border-top: none;}
.wrap-trade .trade-list li a {float: left;display: inline;color: #666;height: 18px;line-height: 18px;padding-left: 28px;background: url(small-tip.png) 0 -288px no-repeat;}
.wrap-trade .trade-list li a:hover {color: #3094ed;}
.wrap-trade .trade-list li span {float: right;display: inline;height: 18px;line-height: 18px;}

/*right content*/
.right-content {width: 256px;margin-top: -21px;}
.wrap-notice .notice-title {overflow: hidden;zoom: 1;color: #4e4e4e;font-size: 15px;padding-bottom: 5px;border-bottom: 1px solid #3094ed;}
.notice-title h3 {color: #333;font-weight: normal;padding-left: 10px;}
.notice-title span em {margin-right: 12px;}
.wrap-notice .notice-list {padding-top: 8px;}
.wrap-notice .notice-list li {padding: 8px 0;border-bottom: 1px dotted #dedede;}
.wrap-notice .notice-list li a {/*display: block;*/color: #666;padding-left: 18px;background: url(small-tip.png) 0 -380px no-repeat;}
.wrap-notice .notice-list li a:hover {color: #3094ed;}
.wrap-notice .notice-list li.last {border-bottom: 1px solid #dedede;}
.search-list {margin-top: 20px;}
.search-list li {height: 45px;margin-bottom: 1px;background: #f7f7f7;}
.search-list li:hover {background: #e7e7e7;}
.search-list li span {float: left;display: inline;width: 24px;height: 24px;margin: 10px 0 0 14px;background: url(small-tip.png) no-repeat;}
.search-list li.slist1 span {background-position: 0 -308px;}
.search-list li.slist1:hover span {background-position: 0 -482px;}
.search-list li.slist2 span {background-position: 0 -332px;}
.search-list li.slist2:hover span {background-position: 0 -506px;}
.search-list li.slist3 span {background-position: 0 -356px;}
.search-list li.slist3:hover span {background-position: 0 -530px;}
.search-list li a {float: left;display: inline;color: #333;font-size: 13px;height: 45px;line-height: 45px;margin-left: 10px;}
.search-list li:hover a {color: #3094ed;}
.wrap-infor {margin-top: 20px;}
.service-center {margin-top: 20px;border: 1px solid #dfdfdf;}
.service-center li {color: #3094ed;height: 38px;line-height: 38px;text-align: center;border-top: 1px solid #dfdfdf;}
.service-center li:hover {background: #e7e7e7;}
.service-center li:first-child {border-top: none;}
.service-center li a {color: #3094ed;}
.service-center li:hover a {color: #ff9915;}
.service-center .service-head, .service-center .service-head:hover {background: #f7f7f7;}
.service-center .service-head h3 {float: left;display: inline;color: #333;font-weight: normal;margin: 10px 0 0 30px;padding-left: 28px;height: 20px;line-height: 20px;background: url(small-tip.png) 0 -554px no-repeat;}
.wrap-hotline {margin-top: 20px;}
.wrap-hotline .notice-list li span {display: block;color: #666;height: 20px;line-height: 20px;padding-left: 30px;background: url(small-tip.png) 0 -574px no-repeat;}

/* 搜索排名 */
.rank-list .notice-list li {overflow: hidden;zoom: 1;}
.rank-list .notice-list p {float: left;display: inline;width: 136px;text-align: left;overflow: hidden;}
.rank-list .notice-list b {float: left;display: inline;width: 40px;text-align: center;font-weight: normal;overflow: hidden;color: #666;}
.rank-list .notice-list li a {padding: 0;background: none;}
.wrap-notice .score-number {color: #3f8dd4;height: 120px;line-height: 120px;font-size: 70px;text-align: center;}
.index-table-title {height: 36px;border: 1px solid #e1e1e1;border-bottom: none;background: #fafafa;}
.index-table-title span {float: left;display: inline;width: 16px;height: 16px;margin: 10px 0 0 20px;background: url(..big-tip.png) -60px -300px no-repeat;}
.index-table-title h3 {float: left;display: inline;color: #3f8dd4;font-weight: normal;margin-left: 12px;height: 36px;line-height: 36px;}
.index-table,.index-table td,.index-table th {color: #333;border-collapse: collapse;border: 1px solid #e1e1e1;}
.index-table th {height: 40px;font-weight: normal;}
.index-table td {height: 50px;text-align: center;}
.index-table td p {text-align: left;line-height: 18px;padding: 0 10px;}
.index-table th.line1 {width: 100px;}
.index-table th.line2 {width: 65px;}
.index-table th.line3 {width: 310px;}
.index-table th.line4 {width: 60px;}
.wrap-index-explain {margin-top: 30px;}
.index-explain-title span {height: 17px;width: 17px;background-position: -60px -320px;}
.wrap-index-explain .index-explain {color: #333;font-size: 13px;border: 1px solid #e1e1e1;padding: 20px 0 10px 16px}
.index-explain li {margin-bottom: 16px;}
.wrap-index-explain .index-count {padding: 16px 0;background: #fafafa;border: 1px solid #e1e1e1;border-top: none;}
.index-count p {color: #3f8dd4;font-size: 13px;text-align: center;line-height: 20px;}